.imgPkmn {
  width: 16vw;
  height: auto;
}

#cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.name {
  text-transform: capitalize;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: lightgrey solid 1px;
  padding: 2px;
}

.types {
  display: flex;
  justify-content: space-around;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #070D0D;
}

.logo {
  width: 30vw;
  height: auto;
}